@import 'top_bar';
@import 'side_bar';

$dark-color: rgb(154, 22, 22);
$light-color: rgb(243, 165, 165);
$medium-size: 100px;

@mixin small-container($size, $radius, $float){
    width: $size;
    height: $size;
    border: 1px solid black;
    border-radius: $radius;
    text-align: center;
    float: $float;
}

.person-card{
    @include small-container(200px, 15px, left);
    background-color: bisque;
}

.ad-card{
    @include small-container(300px, 5px, right);
    background-color: aqua;
}

body{
    height: 1000px;
}

.content{
    background-color: $light-color;
    color: $dark-color;
    height: $medium-size*3;
    width: $medium-size;
    float: left;
}